.card-comment {
  width: 300px;
  margin: 0 15px;
}
.card-comment_text {
  width: 298px;
  padding: 9px 22px 6px 23px;
  background-color: #e2e2e2;
  border-radius: 7px;
  margin-bottom: 22px;
  position: relative;
}
.card-comment_text p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #86878b;
}
.card-comment_text::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
  top: 100%;
  left: 41px;
}

.card-comment_client {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card-comment_client_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-comment_client_img img {
  height: 230%;
  margin: 50px 35px 0px 20px;
}
.name {
  display: block;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 12px;
}

.position {
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  text-align: right;
}
