.header {
    background-image: url(../img/background_2_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 99px 32px 101px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.header__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
}

.header__content {
    width: 544px;
}

.header__title {
    font-family: 'Roboto';
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
    color: #FFFFFF;
}

.header__title__highlight {
    color: coral;
    font-family: 'Roboto';
    font-size: 60px;
    line-height: 70px;
}

.header__subtitle {
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 39px;
    color: #FFFFFF;
}

.header__subtitle::after {
    content: "";
    width: 64px;
    height: 2px;
    display: block;
    margin-top: 32px;
    background-color: #FFFFFF;
}

.header__text {
    width: 282px;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
}

.header__button {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 135px;
    padding: 11px 27px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: all ease-in-out .2s;
}

.header__button:hover {
    background-color: rgba(240, 240, 240, 0.2);
}

.header__form {
    width: 370px;
    border-radius: 8px;
    overflow: hidden;
}

.header__form label {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.header__form__title {
    padding: 16px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;;
}

.header__form__title  span {
    color: coral;
}

.header__form__button {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    display: block;
    width: 100%;
    padding: 16px 0;
    border: none;
    cursor: pointer;
}

.header__form__fields {
    padding: 25px 59px 45px;
    background-color: #FFFFFF;
}

.header__form__input {
    display: flex;
    flex-direction: column;
}

.header__form__fields input {
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
    outline: none;
    line-height: 19px;
}
